In [4]:
import pandas as pd

* movies = pd.read_clipboard()

In [55]:
movies = pd.read_csv('my data.csv',index_col=0)

In [57]:
movies.sample(4)

      name industries     genre language  duration  rating
id
3      uri  bollywood    action    hindi       150     10.0
6     ddlj  bollywood  romantic    hindi       150     10.0
15  sholay  bollywood    comedy    hindi       150      8.5
7    major  bollywood    action    hindi       150      NaN

In [14]:
movies = pd.read_csv('my data.csv')

In [7]:
# find the longest movie name

In [16]:
movies['duration'].argmax()

1

In [17]:
movies['name'][movies['duration'].argmax()]

'brahmastra'

In [21]:
# 2 number of movies who got 10 rating

In [27]:
movies.columns

Index(['id', 'name', 'industries', 'genre', 'language', 'duration', 'rating '], dtype='object')

In [31]:
sum(movies['rating ']==10)

2

* what is genre of interstellar

In [7]:
movies.head()

  id,name,industries,genre,language,duration,rating
0       1,baahubali,tollywood,action,telugu,170,9.5
1     2,brahmastra,bollywood,mystereous,hindi,180,5
2               3,uri,bollywood,action,hindi,150,10
3         4,avengers,hollywood,action,english,180,9
4           5,tenet,hollywood,scifi,english,150,8.5

In [36]:
movies[movies['name']=='intersteller'].values[0]

array([8, 'intersteller', 'hollywood', 'scifi', 'english', 150, 7.0],
      dtype=object)

In [25]:
movies

   id,name,industries,genre,language,duration,rating
0        1,baahubali,tollywood,action,telugu,170,9.5
1      2,brahmastra,bollywood,mystereous,hindi,180,5
2                3,uri,bollywood,action,hindi,150,10
3          4,avengers,hollywood,action,english,180,9
4            5,tenet,hollywood,scifi,english,150,8.5
5             6,ddlj,bollywood,romantic,hindi,150,10
6                 7,major,bollywood,action,hindi,150
7       8,intersteller,hollywood,scifi,english,150,7
8            9,gravity,hollywood,scifi,english,130,6
9               10,titanic,hollywood,drama,english,9
10     11,yhajawnihai,bollywood,romantic,hindi,150,6
11         12,housefall,bollywood,comedy,hindi,150,6
12     13,thedictator,hollywood,comedy,english,120,7
13         14,herapheri,bollywood,comedy,hindi,140,9
14          15,sholay,bollywood,comedy,hindi,150,8.5

In [37]:
movies['name'].str.lower()

0        baahubali
1       brahmastra
2              uri
3         avengers
4            tenet
5             ddlj
6            major
7     intersteller
8          gravity
9          titanic
10     yhajawnihai
11       housefall
12     thedictator
13       herapheri
14          sholay
Name: name, dtype: object

In [42]:
movies['genre'][movies['name'].str.strip().str.lower()=='intersteller'].values[0]

'scifi'

In [39]:
movies['genre'].str.get_dummies()

    action  comedy  drama  mystereous  romantic  scifi
0        1       0      0           0         0      0
1        0       0      0           1         0      0
2        1       0      0           0         0      0
3        1       0      0           0         0      0
4        0       0      0           0         0      1
5        0       0      0           0         1      0
6        1       0      0           0         0      0
7        0       0      0           0         0      1
8        0       0      0           0         0      1
9        0       0      1           0         0      0
10       0       0      0           0         1      0
11       0       1      0           0         0      0
12       0       1      0           0         0      0
13       0       1      0           0         0      0
14       0       1      0           0         0      0

In [40]:
movies['name'].str.strip()

0        baahubali
1       brahmastra
2              uri
3         avengers
4            tenet
5             ddlj
6            major
7     intersteller
8          gravity
9          titanic
10     yhajawnihai
11       housefall
12     thedictator
13       herapheri
14          sholay
Name: name, dtype: object

In [43]:
# what is the duration  of the each gerne

In [44]:
movies['genre']

0         action
1     mystereous
2         action
3         action
4          scifi
5       romantic
6         action
7          scifi
8          scifi
9          drama
10      romantic
11        comedy
12        comedy
13        comedy
14        comedy
Name: genre, dtype: object

In [46]:
for genre in movies['genre'].unique():
    print(genre, movies[movies['genre']==genre]['duration'].mean())

action 162.5
mystereous 180.0
scifi 143.33333333333334
romantic 150.0
drama 9.0
comedy 140.0

In [47]:
movies.groupby('genre')['duration'].mean()

genre
action        162.500000
comedy        140.000000
drama           9.000000
mystereous    180.000000
romantic      150.000000
scifi         143.333333
Name: duration, dtype: float64

In [49]:
movies.groupby(['genre','industries'])['duration'].mean()

genre       industries
action      bollywood     150.000000
            hollywood     180.000000
            tollywood     170.000000
comedy      bollywood     146.666667
            hollywood     120.000000
drama       hollywood       9.000000
mystereous  bollywood     180.000000
romantic    bollywood     150.000000
scifi       hollywood     143.333333
Name: duration, dtype: float64

In [50]:
movies.groupby(['industries','genre'])['duration'].mean()

industries  genre
bollywood   action        150.000000
            comedy        146.666667
            mystereous    180.000000
            romantic      150.000000
hollywood   action        180.000000
            comedy        120.000000
            drama           9.000000
            scifi         143.333333
tollywood   action        170.000000
Name: duration, dtype: float64

In [51]:
movies.describe()

              id    duration    rating
count  15.000000   15.000000  13.000000
mean    8.000000  141.933333   7.807692
std     4.472136   40.093581   1.714381
min     1.000000    9.000000   5.000000
25%     4.500000  145.000000   6.000000
50%     8.000000  150.000000   8.500000
75%    11.500000  150.000000   9.000000
max    15.000000  180.000000  10.000000

In [58]:
movies.drop(['id'] , axis=1 , inplace=True)

KeyError: "['id'] not found in axis"

In [59]:
    movies.describe()

         duration    rating
count   15.000000  13.000000
mean   141.933333   7.807692
std     40.093581   1.714381
min      9.000000   5.000000
25%    145.000000   6.000000
50%    150.000000   8.500000
75%    150.000000   9.000000
max    180.000000  10.000000

In [60]:
movies.describe(include='all')

             name industries   genre language    duration    rating
count          15         15      15       15   15.000000  13.000000
unique         15          3       6        3         NaN        NaN
top     baahubali  bollywood  action    hindi         NaN        NaN
freq            1          8       4        8         NaN        NaN
mean          NaN        NaN     NaN      NaN  141.933333   7.807692
std           NaN        NaN     NaN      NaN   40.093581   1.714381
min           NaN        NaN     NaN      NaN    9.000000   5.000000
25%           NaN        NaN     NaN      NaN  145.000000   6.000000
50%           NaN        NaN     NaN      NaN  150.000000   8.500000
75%           NaN        NaN     NaN      NaN  150.000000   9.000000
max           NaN        NaN     NaN      NaN  180.000000  10.000000

In [61]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 1 to 15
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        15 non-null     object
 1   industries  15 non-null     object
 2   genre       15 non-null     object
 3   language    15 non-null     object
 4   duration    15 non-null     int64
 5   rating      13 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 840.0+ bytes

In [65]:
movies.groupby(['industries','genre']).describe().T

industries     bollywood                                    hollywood         \
genre             action      comedy mystereous    romantic    action comedy
duration count       2.0    3.000000        1.0    2.000000       1.0    1.0
         mean      150.0  146.666667      180.0  150.000000     180.0  120.0
         std         0.0    5.773503        NaN    0.000000       NaN    NaN
         min       150.0  140.000000      180.0  150.000000     180.0  120.0
         25%       150.0  145.000000      180.0  150.000000     180.0  120.0
         50%       150.0  150.000000      180.0  150.000000     180.0  120.0
         75%       150.0  150.000000      180.0  150.000000     180.0  120.0
         max       150.0  150.000000      180.0  150.000000     180.0  120.0
rating   count       1.0    3.000000        1.0    2.000000       1.0    1.0
         mean       10.0    7.833333        5.0    8.000000       9.0    7.0
         std         NaN    1.607275        NaN    2.828427       NaN    NaN
         min        10.0    6.000000        5.0    6.000000       9.0    7.0
         25%        10.0    7.250000        5.0    7.000000       9.0    7.0
         50%        10.0    8.500000        5.0    8.000000       9.0    7.0
         75%        10.0    8.750000        5.0    9.000000       9.0    7.0
         max        10.0    9.000000        5.0   10.000000       9.0    7.0

industries                       tollywood
genre          drama       scifi    action
duration count   1.0    3.000000       1.0
         mean    9.0  143.333333     170.0
         std     NaN   11.547005       NaN
         min     9.0  130.000000     170.0
         25%     9.0  140.000000     170.0
         50%     9.0  150.000000     170.0
         75%     9.0  150.000000     170.0
         max     9.0  150.000000     170.0
rating   count   0.0    3.000000       1.0
         mean    NaN    7.166667       9.5
         std     NaN    1.258306       NaN
         min     NaN    6.000000       9.5
         25%     NaN    6.500000       9.5
         50%     NaN    7.000000       9.5
         75%     NaN    7.750000       9.5
         max     NaN    8.500000       9.5

In [66]:
# average rating of each industries

In [69]:
movies.groupby('industries')['rating '].mean()

industries
bollywood    7.785714
hollywood    7.500000
tollywood    9.500000
Name: rating , dtype: float64

In [76]:
#industry wise avg rating of romantic movies

In [93]:
movies[movies['genre'].str.lower()=='romantic'].groupby([['romantic','rating ']]).mean()

           duration  rating
rating        150.0      6.0
romantic?     150.0     10.0

In [78]:
# list down all the english movies with their respective rating in descending order

In [87]:
movies[movies['language'].str.lower()=='english'][['name','rating ']].sort_values(by='rating ',ascending=False)

            name  rating
id
4       avengers      9.0
5          tenet      8.5
8   intersteller      7.0
13   thedictator      7.0
9        gravity      6.0
10       titanic      NaN