# pandas

In [1]:
import pandas as pd

* series ----- 1d array
* Data Frame------ 2d array (Table format,row & col)

In [4]:
a=pd.Series([])
b=pd.Series([1,2,33,47,58,100])
c= pd.Series((45,89,20,30,44))
d= pd.Series({'a':10,'b':15,'c':56})

C:\Users\AAkash\AppData\Local\Temp\ipykernel_3796\1870161435.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.Series([])

In [5]:
print(type(a))
print(type(b))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [6]:
d

a    10
b    15
c    56
dtype: int64

In [7]:
c

0    45
1    89
2    20
3    30
4    44
dtype: int64

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
n=np.array([1,2,3,4,5,6,])

In [4]:
n

array([1, 2, 3, 4, 5, 6])

In [5]:
z=pd.Series(n)

In [6]:
z

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

In [8]:
z[0]

1

In [9]:
type (z)

pandas.core.series.Series

In [10]:
b=pd.Series([1,2,[11,34,54],[34,55,67],2,3,4,])

In [11]:
b

0               1
1               2
2    [11, 34, 54]
3    [34, 55, 67]
4               2
5               3
6               4
dtype: object

In [12]:
b[0]

1

In [13]:
b[2]

[11, 34, 54]

In [14]:
z

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

In [18]:
d['z':]

NameError: name 'd' is not defined